<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<!-- Your Basic Site Informations -->
	<title>Enews Responsive News Template</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Enews is a news or magazine site template that built with very cool responsive template with clean design, fast load, seo friendly, beauty color and a slew of features." />
    <meta name="keywords" content="Site Template, News, Magazine, Portofolio, HTML, CSS, jQuery, Newsletter, PHP Contact, Subscription, Responsive, Marketing, Clean, SEO" />
    <meta name="author" content="Dots Theme" />
    
    <!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript> <!-- If JavaScript Disabled -->
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.js'></script>
    <script type='text/javascript' src='js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='js/jflickrfeed.min.js'></script>
    <script type='text/javascript' src='js/jquery.fitvids.min.js'></script>
    <script type='text/javascript' src='js/jquery.lazyload.mini.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/jquery.placeholder.min.js'></script>
    <script type='text/javascript' src='js/jquery.jticker.js'></script>
    <script type='text/javascript' src='js/jquery.mobilemenu.js'></script>
    <script type='text/javascript' src='js/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='js/jquery.hoverdir.js'></script>
    <script type='text/javascript' src='js/modernizr.custom.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
    
</head>

<body>

 <div id="top-navigation">
  <div class="container">
    
   <!-- Navigation -->
   <ul class="nav-menu pull-left">
    <li class="active"><a href="index-2.html">Home</a></li>
    <li><a href="#">Features</a>
     <div class="nav-sub-menu">
      <ul class="container">
       <li><a href="features_typography.html">Typography</a></li>
       <li><a href="features_columns.html">Columns</a></li>
       <li><a href="features_shortcodes.html">Shortcodes</a></li>
       <li><a href="features_pricing.html">Pricing Table</a></li>
       <li><a href="features_sitemap.html">Sitemap</a></li>
      </ul>
     </div>
    </li>
    <li><a href="#">Blog</a>
     <div class="nav-sub-menu">
      <ul class="container">
       <li><a href="blog_posts.html">Archives</a></li>
       <li><a href="blog_photos.html">Photos</a></li>
       <li><a href="blog_videos.html">Videos</a></li>
       <li><a href="blog_musics.html">Musics</a></li>
       <li><a href="blog_reviews.html">Reviews</a></li>
      </ul>
     </div>
    </li>
    <li><a href="#">Portofolio</a>
     <div class="nav-sub-menu">
      <ul class="container">
       <li><a href="portofolio.html">1 Column</a></li>
       <li><a href="portofolio_2.html">2 Columns</a></li>
       <li><a href="portofolio_3.html">3 Columns</a></li>
       <li><a href="portofolio_4.html">4 Columns</a></li>
       <li><a href="single_portofolio.html">Single Portofolio</a></li>
       <li><a href="single_portofolio_2.html">Single Portofolio 2</a></li>
      </ul>
     </div>
    </li>
    <li><a href="#">Pages</a>
     <div class="nav-sub-menu">
      <ul class="container">
       <li><a href="author.html">Author</a></li>
       <li><a href="404.html">404 Page</a></li>
       <li><a href="search.html">Search</a></li>
       <li><a href="index-2.html">Homepage 1</a></li>
       <li><a href="index_2.html">Homepage 2</a></li>
       <li><a href="index_3.html">Homepage 3</a></li>
       <li><a href="index_4.html">Homepage 4</a></li>
      </ul>
     </div>
    </li>
    <li><a href="contact.html">Contact</a></li>
   </ul>
    
   <!-- Search Form -->
   <form name="form-search" method="post" action="http://dotstheme.com/demo/premium/enews_responsive_news_template/html/stretched/search.html" class="form-search pull-right">
    <input type="text" name="search" placeholder="Search...." class="input-icon input-icon-search" />
   </form>
    
   <!-- Social Media -->
   <ul class="social pull-right">
    <li><a href="#" data-placement="bottom" data-original-title="Find us on LinkedIn"><img src="images/social/infocus/linkedin-logo.png" alt="LinkedIn"></a></li>
     <li><a href="#" data-placement="bottom" data-original-title="Find us on Flickr"><img src="images/social/infocus/flickr.png" alt="Flickr"></a></li>
     <li><a href="#" data-placement="bottom" data-original-title="Like us on Facebook"><img src="images/social/infocus/facebook-logo.png" alt="Facebook"></a></li>
     <li><a href="#" data-placement="bottom" data-original-title="Follow on DeviantArt"><img src="images/social/infocus/deviantart.png" alt="DeviantArt"></a></li>
    <li><a href="#" data-placement="bottom" data-original-title="Follow on Twitter"><img src="images/social/infocus/twitter.png" alt="Twitter"></a></li>
    <li><a href="#" data-placement="bottom" data-original-title="Follow on Stumbleupon"><img src="images/social/infocus/stumbleupon.png" alt="Stumbleupon"></a></li>
    <li><a href="#" data-placement="bottom" data-original-title="Call us via Skype"><img src="images/social/infocus/skype.png" alt="Skype"></a></li>
   </ul>
   
  </div> <!-- End Container -->
 </div> <!-- End Top-Navigation -->
 
 <div class="container">
  <header id="header" class="clearfix">
   
   <!-- Logo -->
   <div class="logo pull-left">
    <a href="index-2.html"><img src="images/logo.png" alt="Enews" /></a>
   </div>
   
   <!-- Ads -->
   <div class="ads pull-right">
    <img src="images/ads/480x80.png" alt="Ads" />
   </div>
   
  </header> <!-- End Header -->
  
  <nav id="main-navigation" class="clearfix">
   <ul>
    <li><a href="blog_posts.html">Business</a></li>
    <li><a href="blog_posts.html">Technology <i class="arrow-main-nav"></i></a>
     <ul>
      <li><a href="blog_posts.html">Smartphone</a></li>
      <li><a href="blog_posts.html">Tablet</a></li>
      <li><a href="blog_posts.html">Internet</a></li>
      <li><a href="blog_posts.html">Software</a></li>
      <li><a href="blog_posts.html">Hardware</a></li>
      <li><a href="blog_posts.html">Laptop</a></li>
      <li><a href="blog_posts.html">Hot News <i class="arrow-main-nav"></i></a>
       <ul>
        <li><a href="blog_posts.html">Windows 8</a></li>
        <li><a href="blog_posts.html">Apple iPhone 5</a></li>
        <li><a href="blog_posts.html">Microsoft Surface</a></li>
        <li><a href="blog_posts.html">Nokia Lumia 920</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li><a href="blog_posts.html">Education</a></li>
    <li><a href="blog_posts.html">Entertainment</a></li>
    <li><a href="blog_photos.html">Photo <i class="arrow-main-nav"></i></a>
     <ul>
      <li><a href="single_photo.html">Single Photo</a></li>
     </ul>
    </li>
    <li><a href="blog_videos.html">Video <i class="arrow-main-nav"></i></a>
     <ul>
      <li><a href="single_video.html">Single Video</a></li>
     </ul>
    </li>
    <li><a href="blog_musics.html">Music <i class="arrow-main-nav"></i></a>
     <ul>
      <li><a href="single_music.html">Single Music</a></li>
     </ul>
    </li>
    <li><a href="blog_reviews.html">Review <i class="arrow-main-nav"></i></a>
     <ul>
      <li><a href="single_review.html">Single Review</a></li>
     </ul>
    </li>
   </ul>
  </nav> <!-- End Main-Navigation -->
  
  <div id="highlight-posts" class="clearfix">
   <ul>
   
    <li class="masked masked-big"> <!-- One -->
     <div class="flexslider highlight-one loading">
      <ul class="slides"> <!-- Images -->
       <li><figure style="background-image:url(images/content/full/5.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/full/4.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/full/9.jpg);"></figure></li>
      </ul>
     </div>
     <a href="single_post.html" title="View permalink Alvear Art Black and White Theme"><div class="masked-hover"></div></a> <!-- Masked Hover -->
     <div class="masked-base"></div> <!-- Masked Base -->
     <div class="masked-color masked-violet"></div> <!-- Masked Color -->
     <div class="text">
      <h2>Alvear Art Black and White Theme</h2>
      <span class="meta">By mdkiwol on Jan. 14, 2013</span>
      <p>Suspendisse ornare luctus tempus. Nulla nec orci erat, sed consequat lacus. Curabitur vel odio eu sapien fermentum placerat pharetra ac lectus. Ut erat sapien, lobortis nec mattis eget, tempus sit amet elit. Duis gravida tincidunt fermentum. Etiam metus lectus, facilisis non imperdiet sit amet, fermentum vitae leo [...]</p>
     </div>
    </li>
    
    <li class="masked masked-small"> <!-- Two -->
     <div class="flexslider highlight-two loading">
      <ul class="slides"> <!-- Images -->
       <li><figure style="background-image:url(images/content/600/11.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/600/2.jpg);"></figure></li>
      </ul>
     </div>
     <a href="single_post.html" title="View permalink Camerette - Your Time to Explore"><div class="masked-hover"></div></a> <!-- Masked Hover -->
     <div class="masked-base"></div> <!-- Masked Base -->
     <div class="masked-color masked-red"></div> <!-- Masked Color -->
     <div class="text">
      <h2>Camerette - Your Time to Explore</h2>
      <span class="meta">By jagerjack on Jan. 13, 2013</span>
     </div> 
    </li>
    
    <li class="masked masked-small"> <!-- Three -->
     <div class="flexslider highlight-three loading">
      <ul class="slides"> <!-- Images -->
       <li><figure style="background-image:url(images/content/600/3.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/600/1.jpg);"></figure></li>
      </ul>
     </div>
     <a href="single_post.html" title="View permalink Living room in Italy"><div class="masked-hover"></div></a> <!-- Masked Hover -->
     <div class="masked-base"></div> <!-- Masked Base -->
     <div class="masked-color masked-blue"></div> <!-- Masked Color -->
     <div class="text">
      <h2>Living room in Italy</h2>
      <span class="meta">By amaah on Jan. 12, 2013</span>
     </div> 
    </li>
    
    <li class="masked masked-small no-margin-bottom"> <!-- Four -->
     <div class="flexslider highlight-four loading">
      <ul class="slides"> <!-- Images -->
       <li><figure style="background-image:url(images/content/600/8.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/600/7.jpg);"></figure></li>
       <li><figure style="background-image:url(images/content/600/6.jpg);"></figure></li>
      </ul>
     </div>
     <a href="single_post.html" title="View permalink Mosaic Pool is Amazing And Beautiful Place"><div class="masked-hover"></div></a> <!-- Masked Hover -->
     <div class="masked-base"></div> <!-- Masked Base -->
     <div class="masked-color masked-orange"></div> <!-- Masked Color -->
     <div class="text">
      <h2>Mosaic Pool is Amazing And Beautiful Place</h2>
      <span class="meta">By john on Jan. 11, 2013</span>
     </div> 
    </li>
    
   </ul>
  </div> <!-- End Highlight Posts -->
  
  <div class="headlines clearfix">
   <span class="base">30<i>Tue</i></span>
   <div class="text-rotator">
    <div><a href="single_post.html" title="View permalink Small Market and St. Sebastian's Square in Opole">Small Market and St. Sebastian's Square in Opole</a></div>
    <div><a href="single_post.html" title="View permalink Mosaic Pool is Amazing And Beautiful Place">Mosaic Pool is Amazing And Beautiful Place</a></div>
    <div><a href="single_post.html" title="View permalink Glass House Below The Dark of Moon Light">Glass House Below The Dark of Moon Light</a></div>
    <div><a href="single_post.html" title="View permalink Platform House with Minimal Design">Platform House with Minimal Design</a></div>
    <div><a href="single_post.html" title="View permalink Winter Kitchen with Silver Panorama">Winter Kitchen with Silver Panorama</a></div>
   </div>
  </div> <!-- End Headlines -->
  
  <div class="row-fluid">
   <div id="main" class="span8 image-preloader">
  
    <div class="row-fluid">
   
     <!-- One -->
     <div class="span6 post no-margin-left">
      <figure>
       <img src="images/content/600/1.jpg" alt="Thumbnail 1" />
       <div class="cat-name">
        <span class="base">Technology</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Camerette - Your Time to Dream">Camerette - Your Time to Dream</a></h2>
       <p>Suspendisse ornare luctus tempus. Nulla nec orci erat, sed consequat lacus. Curabitur vel odio eu sapien fermentum placerat pharetra ac lectus. Ut erat sapien, lobortis nec mattis.</p>
       <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 14, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">15 comments</a></div>
      </div>
     </div>
   
     <!-- Two -->
     <div class="span6 post">
      <figure>
       <img src="images/content/600/2.jpg" alt="Thumbnail 2" />
       <div class="cat-name">
        <span class="base">Business</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Glass House Below The Dark of Moon Light">Glass House Below The Dark of Moon Light</a></h2>
       <p>Praesent mattis mauris urna. Suspendisse vuputa, urna sit amet laoreet iaculis, magna urna porttitor justo, vel pretium sapien urpis nec turpis. Integer nec consectetur odio.</p>
       <div class="meta">By <a href="author.html">jagerjack</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 13, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">8 comments</a></div>
      </div>
     </div>
   
     <div class="clearfix ie-sep"></div> <!-- Clearfix -->
   
     <!-- Three -->
     <div class="span6 post no-margin-left">
      <figure>
       <img src="images/content/600/3.jpg" alt="Thumbnail 3" />
       <div class="cat-name">
        <span class="base">Education</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink House in The Woods">House in The Woods</a></h2>
       <p>Pellentesque sed eros sit amet eros congue dium. Nullam fringilla adipiscing placerat. Mauris feugiat elit et nisi dapibus sodales. Aenean pulvinar odio non sapien tincidunt pellentesque.</p>
       <div class="meta">By <a href="author.html">Joh Donn</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 12, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">12 comments</a></div>
      </div>
     </div>
   
     <!-- Review Posts -->
     <div class="span6 home-reviews">
    
      <!-- Header -->
      <div class="header">
       <div class="base">
        <h4>Reviews</h4>
        <a href="blog_reviews.html" title="View all reviews">more reviews....</a>
       </div>
       <div class="arrow arrow-left"></div>
       <div class="arrow arrow-right"></div>
      </div>
    
      <!-- One -->
      <div class="item">
       <a href="single_review.html">
        <figure class="figure-hover">
         <img src="images/content/300/7.jpg" alt="Thumbnail 1" />
         <div class="base-val">70%</div>
         <div class="figure-hover-masked">
          <p class="icon-plus-small"></p>
         </div>
        </figure>
       </a>
       <div class="content">
        <p><a href="single_review.html" title="View permalink Small Market and St. Sebastian's Square in Opole">Small Market and St. Sebastian's Square in Opole</a> <i>by mdkiwol</i></p>
        <div class="base-rate">
         <div class="rate-val" style="width:70%;"></div>
        </div>
       </div>
      </div>
    
      <!-- Two -->
      <div class="item">
       <a href="single_review.html">
        <figure class="figure-hover">
         <img src="images/content/300/8.jpg" alt="Thumbnail 2" />
         <div class="base-val">5.5</div>
         <div class="figure-hover-masked">
          <p class="icon-plus-small"></p>
         </div>
        </figure>
       </a>
       <div class="content">
        <p><a href="single_review.html" title="View permalink Living Room in Italy">Living Room in Italy</a> <i>by john</i></p>
        <div class="base-rate">
         <div class="rate-val" style="width:55%;"></div>
        </div>
       </div>
      </div>
    
      <!-- Three -->
      <div class="item">
       <a href="single_review.html">
        <figure class="figure-hover">
         <img src="images/content/300/9.jpg" alt="Thumbnail 3" />
         <div class="base-val">100</div>
         <div class="figure-hover-masked">
          <p class="icon-plus-small"></p>
         </div>
        </figure>
       </a>
       <div class="content">
        <p><a href="single_review.html" title="View permalink Platform House With Minimal Design">Platform House With Minimal Design</a> <i>by jagerjack</i></p>
        <div class="base-rate">
         <div class="rate-val" style="width:100%;"></div>
        </div>
       </div>
      </div>
    
     </div> <!-- End Reviews -->
   
     <div class="clearfix ie-sep"></div> <!-- Clearfix -->
   
     <!-- Four -->
     <div class="span6 post no-margin-left">
      <figure>
       <img src="images/content/600/4.jpg" alt="Thumbnail 4" />
       <div class="cat-name">
        <span class="base">Technology</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Camerette - Your Time to Explore">Camerette - Your Time to Explore</a></h2>
       <p>Sed tristique rhoncus dolor a porta. Nunc suscipit condimentum ultrices. Fusce non arcu urna. Duis iaculis tellus id felis fringilla commodo. Vivamus quet ullamcorper sagittis.</p>
       <div class="meta">By <a href="author.html">amaah</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 11, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div>
      </div>
     </div>
   
     <!-- Five -->
     <div class="span6 post">
      <figure>
       <img src="images/content/600/5.jpg" alt="Thumbnail 5" />
       <div class="cat-name">
        <span class="base">Business</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Winter Kitchen with Silver Panorama">Winter Kitchen with Silver Panorama</a></h2>
       <p>Fusce vehicula sapien sed dolor semper gravida. Nam mollis, nisl vel mollis condimentum, arcu lorem varius ipsum, eget vulputate nisl ligula sit amet metus. Duis ac magna neque, congue tristique risus.</p>
       <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 10, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div>
      </div>
     </div>
   
     <div class="clearfix ie-sep"></div> <!-- Clearfix -->
       
     <!-- Six -->
     <div class="span6 post no-margin-left">
      <figure>
       <img src="images/content/600/6.jpg" alt="Thumbnail 6" />
       <div class="cat-name">
        <span class="base">Education</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Casa en la costa del uno">Casa en la costa del uno</a></h2>
       <p>Praesent mattis mauris urna. Suspendisse vuputa, urna sit amet laoreet iaculis, magna urna porttitor justo, vel pretium sapien urpis nec turpis. Integer nec consectetur odio.</p>
       <div class="meta">By <a href="author.html">jagerjack</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 9, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div>
      </div>
     </div>
   
     <!-- Seven -->
     <div class="span6 post">
      <figure>
       <img src="images/content/600/7.jpg" alt="Thumbnail 7" />
       <div class="cat-name">
        <span class="base">Entertainment</span>
        <span class="arrow"></span>
       </div>
      </figure>
      <div class="text">
       <h2><a href="single_post.html" title="View permalink Mosaic Pool is Very Amazing And Beautiful">Mosaic Pool is Very Amazing And Beautiful</a></h2>
       <p>Pellentesque sed eros sit amet eros congue dium. Nullam fringilla adipiscing placerat. Mauris feugiat elit et nisi dapibus sodales. Aenean pulvinar odio non sapien tincidunt pellentesque.</p>
       <div class="meta">By <a href="author.html">amaah</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 8, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div>
      </div>
     </div>
   
     <div class="clearfix ie-sep"></div> <!-- Clearfix -->
   
     <!-- Gallery Posts -->
     <div class="home-galleries no-margin-left">
    
      <!-- Header -->
      <div class="header">
       <div class="base">
        <h4>Galleries</h4>
        <div class="nav-control">
         <span class="previous"></span><span class="next"></span>
        </div>
       </div>
       <div class="arrow arrow-left"></div>
       <div class="arrow arrow-right"></div>
      </div>
    
      <!-- One -->
      <div class="item">
       <figure class="figure-overlay figure-overlay-icon">
        <a href="single_photo.html">
         <img src="images/content/300/3.jpg" alt="Thumbnail 1" />
         <div><p class="icon-plus"></p></div>
        </a>
       </figure>
       <p>Small Market and St. Sebastian's Square in Opole</p>
      </div>
    
      <!-- Two -->
      <div class="item">
       <figure class="figure-overlay figure-overlay-icon">
        <a href="single_photo.html">
         <img src="images/content/300/10.jpg" alt="Thumbnail 2" />
         <div><p class="icon-plus"></p></div>
        </a>
       </figure>
       <p>Living Room in Italy</p>
      </div>
      
      <div class="clearfix"></div> <!-- Clearfix -->
    
      <!-- Three -->
      <div class="item">
       <figure class="figure-overlay figure-overlay-icon">
        <a href="single_photo.html">
         <img src="images/content/300/11.jpg" alt="Thumbnail 3" />
         <div><p class="icon-plus"></p></div>
        </a>
       </figure>
       <p>Platform House with Minimal Design</p>
      </div>
    
      <!-- Four -->
      <div class="item">
       <figure class="figure-overlay figure-overlay-icon">
        <a href="single_photo.html">
         <img src="images/content/300/12.jpg" alt="Thumbnail 4" />
         <div><p class="icon-plus"></p></div>
        </a>
       </figure>
       <p>Mosaic Pool is Very Amazing And Beautiful</p>
      </div>
    
     </div> <!-- End Galleries -->
   
     <div class="clearfix ie-sep"></div> <!-- Clearfix -->
   
     <nav class="nav-pagination">
      <ul>
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#">7</a></li>
       <li><a href="#">8</a></li>
       <li><a href="#">9</a></li>
       <li><a href="#">10</a></li>
       <li class="empty-space">....</li>
       <li><a href="#">17</a></li>
      </ul>
      <p>Page 1 of 17</p>
     </nav> <!-- End Nav-Pagination -->
   
    </div> <!-- End Row-Fluid -->
   </div> <!-- End Main -->
  
   <div id="sidebar" class="span4">
  
    <div class="widget clearfix">
     <ul class="social-subscribers">
      <li>
       <a href="#" data-original-title="Like us on Facebook"><img src="images/social/somacro/facebook.png" alt="Facebook" /></a>
       <p>25,645<i>likes</i></p>
      </li>
      <li>
       <a href="#" data-original-title="Follow us on Twitter"><img src="images/social/somacro/twitter.png" alt="Twitter" /></a>
       <p>8,480<i>followers</i></p>
      </li>
      <li>
       <a href="#" data-original-title="Subscribe our RSS Feed"><img src="images/social/somacro/rss.png" alt="RSS" /></a>
       <p>17,289<i>subscribers</i></p>
      </li>
     </ul>
    </div> <!-- End Widget -->
   
    <div class="widget clearfix">
     <div class="enews-tab">
    
      <!-- Tab Menu -->
      <ul class="nav nav-tabs" id="enewsTabs">
       <li class="active"><a href="#tab-populars" data-toggle="tab">Populars</a></li>
       <li><a href="#tab-recents" data-toggle="tab">Recents</a></li>
       <li><a href="#tab-comments" data-toggle="tab">Comments</a></li>
      </ul>
 
      <div class="tab-content">
       <div class="tab-pane active" id="tab-populars">
       
        <!-- One -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/5.jpg" alt="Thumbnail 1" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Small Market and St. Sebastian's Square in Opole">Small Market and St. Sebastian's Square in Opole</a></h4>
          <p class="meta">7,849 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
         </div>
        </div>
       
        <!-- Two -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/12.jpg" alt="Thumbnail 2" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Living Room in Italy">Living Room in Italy</a></h4>
          <p class="meta">6,988 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
         </div>
        </div>
       
        <!-- Three -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/7.jpg" alt="Thumbnail 3" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Platform House With Minimal Design">Platform House With Minimal Design</a></h4>
          <p class="meta">5,724 views&nbsp;&nbsp;|&nbsp;&nbsp;35 comments</p>
         </div>
        </div>
       
        <!-- Four -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/4.jpg" alt="Thumbnail 4" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Winter Kitchen With Silver Panorama">Winter Kitchen With Silver Panorama</a></h4>
          <p class="meta">5,198 views&nbsp;&nbsp;|&nbsp;&nbsp;39 comments</p>
         </div>
        </div>
       
        <!-- Five -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/9.jpg" alt="Thumbnail 5" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Camerette - Your Time to Explore">Camerette - Your Time to Explore</a></h4>
          <p class="meta">4,276 views&nbsp;&nbsp;|&nbsp;&nbsp;22 comments</p>
         </div>
        </div>
       
       </div> <!-- End Populars -->
      
       <div class="tab-pane" id="tab-recents">
       
        <!-- One -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/2.jpg" alt="Thumbnail 1" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Alvear Art Black and White Theme">Alvear Art Black and White Theme</a></h4>
          <p class="meta">In <a href="blog_posts.html">Technology</a> on Jan. 14, 2013</p>
         </div>
        </div>
       
        <!-- Two -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/5.jpg" alt="Thumbnail 2" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Camerette - Your Time to Explore">Camerette - Your Time to Explore</a></h4>
          <p class="meta">In <a href="blog_posts.html">Education</a> on Jan. 13, 2013</p>
         </div>
        </div>
       
        <!-- Three -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/4.jpg" alt="Thumbnail 3" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Living Room in Italy">Living Room in Italy</a></h4>
          <p class="meta">In <a href="blog_posts.html">Entertainment</a> on Jan. 12, 2013</p>
         </div>
        </div>
       
        <!-- Four -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/11.jpg" alt="Thumbnail 4" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Mosaic Pool is Amazing And Beautiful Place">Mosaic Pool is Amazing And Beautiful Place</a></h4>
          <p class="meta">In <a href="blog_posts.html">Education</a> on Jan. 11, 2013</p>
         </div>
        </div>
       
        <!-- Five -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/300/8.jpg" alt="Thumbnail 5" /></figure>
         <div class="pull-right content">
          <h4><a href="single_post.html" title="View permalink Platform House with Minimal Design">Platform House with Minimal Design</a></h4>
          <p class="meta">In <a href="blog_posts.html">Business</a> on Jan. 10, 2013</p>
         </div>
        </div>
       
       </div> <!-- End Recents -->
      
       <div class="tab-pane" id="tab-comments">
       
        <!-- One -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/avatar/1.jpg" alt="Avatar 1" /></figure>
         <div class="pull-right content">
          <p><a href="#">mdkiwol</a> on <a href="single_post.html" title="View comment on Glass House Below The Dark of Moon Light">Glass House Below The Dark of Moon Light</a></p>
         </div>
        </div>
       
        <!-- Two -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/avatar/2.jpg" alt="Avatar 2" /></figure>
         <div class="pull-right content">
          <p><a href="#">holland</a> on <a href="single_post.html" title="View comment on Winter Kitchen with Silver Panorama">Winter Kitchen with Silver Panorama</a></p>
         </div>
        </div>
       
        <!-- Three -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/avatar/3.jpg" alt="Avatar 3" /></figure>
         <div class="pull-right content">
          <p><a href="#">jagerjack</a> on <a href="single_post.html" title="View comment on Mosaic Pool is Very Amazing And Beautiful">Mosaic Pool is Very Amazing And Beautiful</a></p>
         </div>
        </div>
       
        <!-- Four -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/avatar/4.jpg" alt="Avatar 4" /></figure>
         <div class="pull-right content">
          <p><a href="#">john</a> on <a href="single_post.html" title="View comment on House in The Woods">House in The Woods</a></p>
         </div>
        </div>
       
        <!-- Five -->
        <div class="item">
         <figure class="pull-left"><img src="images/content/avatar/3.jpg" alt="Avatar 5" /></figure>
         <div class="pull-right content">
          <p><a href="#">jagerjack</a> on <a href="single_post.html" title="View comment on Camerette - Your Time to Explore">Camerette - Your Time to Explore</a></p>
         </div>
        </div>
       
       </div> <!-- End Comments -->
      </div> <!-- End Tab-Content -->
     
     </div> <!-- End Enews-Tab --> 
    </div> <!-- End Widget -->
   
    <div class="widget clearfix">
     <div class="sponsors">
     
      <div class="header">
       <h4>Sponsors</h4>
      </div>
     
      <div class="content">  
       <img src="images/ads/180x180.png" alt="Sponsor 1" />
       <img src="images/ads/180x180.png" alt="Sponsor 2" />
       <img src="images/ads/180x180.png" alt="Sponsor 3" />
       <img src="images/ads/180x180.png" alt="Sponsor 4" />
      </div>
     
     </div>
    </div> <!-- End Widget -->
   
    <div class="widget clearfix">
     <div class="best-picture">
    
      <div class="header">
       <h4>Best Picture</h4>
      </div>
    
      <div class="content">
       <p><a href="single_photo.html" title="View permalink House in The Woods">Aenean dictum pharetra nibh, sodales luctus felis aliquet at. Nulla vulputate venenatis orci [..]</a></p>
       
       <!-- Photo Galleries -->
       <figure class="flexslider loading">
        <ul class="slides">
         <li><img src="images/content/full/4.jpg" alt="Thumbnail 1" /></li>
         <li><img src="images/content/full/9.jpg" alt="Thumbnail 2" /></li>
         <li><img src="images/content/full/2.jpg" alt="Thumbnail 3" /></li>
        </ul>
       </figure>
       
       <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 7, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_video.html">15 comments</a></div>
      </div>
     
     </div>
    </div> <!-- End Widget -->
   
    <div class="widget clearfix">
     <div class="subscribe-form">
    
      <div class="header">
       <h4>Subscribe Us</h4>
      </div>
    
      <div class="content">
       <p>You can stay up-to-date with our latest news with subscribe our newsletter.</p>
       <form name="subscribe-form" id="enews-subscribe-form" method="post" action="#">
        <input type="text" name="email_address" placeholder="ex: your_email@domain.com" />
        <input type="submit" name="submit" value="Send" />
       </form>
      </div>
     
     </div>
    </div> <!-- End Widget -->
   
    <div class="widget clearfix">
     <div class="best-video">
    
      <div class="header">
       <h4>Video of The Week</h4>
      </div>
    
      <div class="content">
       <p><a href="single_video.html" title="View permalink Devil May Cry Launch Trailer">Aenean dictum pharetra nibh, sodales luctus felis aliquet at. Nulla vulputate venenatis orci [..]</a></p>
       <figure><iframe height="240" src="http://www.youtube.com/embed/psSqNRaHBgk?feature=player_detailpage"></iframe></figure>
       <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 12, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_video.html">15 comments</a></div>
      </div>
     
     </div>
    </div> <!-- End Widget -->
  
   </div> <!-- End Sidebar -->
  
  </div> <!-- End Row-Fluid -->
 </div> <!-- End Container -->
 
 <div id="bottom">
  <div class="container">
   <div class="row-fluid">
   
    <div class="span3 widget clearfix">
     <div class="header">
      <h4>About Us</h4>
     </div>
     
     <div class="content">
      <p>Donec dignissim leo sit amet nisl luctus vestibulum. Morbi tortor arcu, aliquet nec aliquet at, convallis ut eros. Sed non tellus mauris, vitae congue ante.</p>
      <p>Nunc imperdiet malesuada pharetra. Duis sodales, arcu tempus rutrum consectetur, sem ante auctor eros, in vehicula magna mauris sit amet est. Mauris ac eros arcu.</p>
     </div>
    </div> <!-- End Widget -->
    
    <div class="span3 widget clearfix">
     <div class="tags-cloud">
      
      <div class="header">
       <h4>Tags Cloud</h4>
      </div>
      
      <ul>
       <li><a href="blog_posts.html">windows</a></li>
       <li><a href="blog_posts.html">apple</a></li>
       <li><a href="blog_posts.html">software</a></li>
       <li><a href="blog_posts.html">hardware</a></li>
       <li><a href="blog_posts.html">gadget</a></li>
       <li><a href="blog_posts.html">smartphone</a></li>
       <li><a href="blog_posts.html">laptop</a></li>
       <li><a href="blog_posts.html">business</a></li>
       <li><a href="blog_posts.html">learn</a></li>
       <li><a href="blog_posts.html">study</a></li>
       <li><a href="blog_posts.html">game</a></li>
       <li><a href="blog_posts.html">movie</a></li>
       <li><a href="blog_posts.html">event</a></li>
      </ul>
      
     </div>
    </div> <!-- End Widget -->
    
    <div class="span3 widget clearfix">
     <div class="tweets">
      
      <div class="header">
       <h4>Latest Tweets</h4>
      </div>
      
      <ul>
       <li>
        <span class="picons"><!-- --></span>
        <p><a href="#">@realt0rlife</a> That's a very good question :) You may want to contact the author. There's a form on the right when you click their name.</p>
        <span class="date">- 10 hours ago</span>
       </li>
       <li>
        <span class="picons"><!-- --></span>
        <p><a href="#">@ghostpool</a> Have you opened a support ticket yet? Can you send methe ticket number? Thanks!</p>
        <span class="date">- 2 days ago</span>
       </li>
      </ul>
      
     </div>
    </div> <!-- End Widget -->
    
    <div class="span3 widget clearfix">
     <div class="flickr-photos">
      
      <div class="header">
       <h4>Flickr Photos</h4>
      </div>
      
      <ul id="flickr-gallery"><!-- --></ul>
      
     </div>
    </div> <!-- End Widget -->
   
   </div> <!-- End Row-Fluid -->
  </div> <!-- End Container -->
 </div> <!-- End Bottom -->
  
 <div id="footer">
  <div class="container">
   
   <p class="pull-left">Copyright 2013 Dots Theme&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Dots Theme</a></p>
   <ul class="social pull-right">
    <li><a href="#" title="Youtube"><img src="images/social/f0101/youtube.png" alt="Youtube" /></a></li>
    <li><a href="#" title="LinkedIn"><img src="images/social/f0101/linkedin.png" alt="LinkedIn" /></a></li>
    <li><a href="#" title="Vimeo"><img src="images/social/f0101/vimeo.png" alt="Vimeo" /></a></li>
    <li><a href="#" title="Tumblr"><img src="images/social/f0101/tumblr.png" alt="Tumblr" /></a></li>
    <li><a href="#" title="Flickr"><img src="images/social/f0101/flickr.png" alt="Flickr" /></a></li>
    <li><a href="#" title="DeviantArt"><img src="images/social/f0101/deviantart.png" alt="DeviantArt" /></a></li>
    <li><a href="#" title="Delicious"><img src="images/social/f0101/delicious.png" alt="Delicious" /></a></li>
    <li><a href="#" title="Facebook"><img src="images/social/f0101/facebook.png" alt="Facebook" /></a></li>
    <li><a href="#" title="Twitter"><img src="images/social/f0101/twitter.png" alt="Twitter" /></a></li>
   </ul>
   
  </div> <!-- End Container -->
 </div> <!-- End Footer -->
 
 <a href="#" class="scrollup" title="Back to Top!">Scroll</a>
 
 <div id="customize">
  <h5>Options</h5>
  <div class="wrapper">
   <div class="colors">
    <h6>Colors</h6>
    <a href="#" class="orange" title="Orange" style="background-color:#f15620;"></a>
    <a href="#" class="blue" title="Blue" style="background-color:#1d96e2;"></a>
    <a href="#" class="green" title="Green" style="background-color:#45b519;"></a>
   </div>
  </div>
 </div>

</body>
</html>