<!-- Review Posts -->
<div class="span6 home-reviews">

 <!-- Header -->
 <div class="header">
  <div class="base">
   <h4>Reviews</h4>
   <a href="blog_reviews.html" title="View all reviews">more reviews....</a>
  </div>
  <div class="arrow arrow-left"></div>
  <div class="arrow arrow-right"></div>
 </div>

 <!-- One -->
 <div class="item">
  <a href="single_review.html">
   <figure class="figure-hover">
     <%= image_tag(image_url('content/300/7.jpg'), alt:'Thumbnail 1') %>
    <div class="base-val">70%</div>
    <div class="figure-hover-masked">
     <p class="icon-plus-small"></p>
    </div>
   </figure>
  </a>
  <div class="content">
   <p><a href="single_review.html" title="View permalink Small Market and St. Sebastian's Square in Opole">Small Market and St. Sebastian's Square in Opole</a> <i>by mdkiwol</i></p>
   <div class="base-rate">
    <div class="rate-val" style="width:70%;"></div>
   </div>
  </div>
 </div>

 <!-- Two -->
 <div class="item">
  <a href="single_review.html">
   <figure class="figure-hover">
     <%= image_tag(image_url('content/300/8.jpg'), alt:'Thumbnail 2') %>
    <div class="base-val">5.5</div>
    <div class="figure-hover-masked">
     <p class="icon-plus-small"></p>
    </div>
   </figure>
  </a>
  <div class="content">
   <p><a href="single_review.html" title="View permalink Living Room in Italy">Living Room in Italy</a> <i>by john</i></p>
   <div class="base-rate">
    <div class="rate-val" style="width:55%;"></div>
   </div>
  </div>
 </div>

 <!-- Three -->
 <div class="item">
  <a href="single_review.html">
   <figure class="figure-hover">
     <%= image_tag(image_url('content/300/1.jpg'), alt:'Thumbnail 3') %>
    <div class="base-val">100</div>
    <div class="figure-hover-masked">
     <p class="icon-plus-small"></p>
    </div>
   </figure>
  </a>
  <div class="content">
   <p><a href="single_review.html" title="View permalink Platform House With Minimal Design">Platform House With Minimal Design</a> <i>by jagerjack</i></p>
   <div class="base-rate">
    <div class="rate-val" style="width:100%;"></div>
   </div>
  </div>
 </div>

</div> <!-- End Reviews -->

<div class="clearfix ie-sep"></div> <!-- Clearfix -->
