<div id="bottom">
 <div class="container">
  <div class="row-fluid">

   <div class="span6 widget clearfix">
    <div class="header">
     <h4>Sobre Xesporte</h4>
    </div>

    <div class="content">
     <p>Donec dignissim leo sit amet nisl luctus vestibulum. Morbi tortor arcu, aliquet nec aliquet at, convallis ut eros. Sed non tellus mauris, vitae congue ante.</p>
     <p>Nunc imperdiet malesuada pharetra. Duis sodales, arcu tempus rutrum consectetur, sem ante auctor eros, in vehicula magna mauris sit amet est. Mauris ac eros arcu.</p>
    </div>
   </div> <!-- End Widget -->

   <div class="span6 widget clearfix">
    <div class="tags-cloud">

     <div class="header">
      <h4>Tags</h4>
     </div>

     <ul>
      <% (1..15).to_a.each do |i| %>
        <li><%= link_to "Tag #{i}", '#' %></li>
      <% end %>
     </ul>

    </div>
   </div> <!-- End Widget -->

  </div> <!-- End Row-Fluid -->
 </div> <!-- End Container -->
</div> <!-- End Bottom -->
