<div id="footer">
 <div class="container">

  <p class="pull-left">Copyright 2016 Hugo Hernani&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Contact me', '#' %></p>
  <ul class="social pull-right">
   <li>
     <a href="#" title="LinkedIn">
       <%= image_tag(image_url('social/f0101/linkedin.png'), alt:'LinkedIn') %>
     </a>
   </li>
   <li>
     <a href="#" title="Facebook">
       <%= image_tag(image_url('social/f0101/facebook.png'), alt:'Facebook') %>
     </a>
   </li>
   <li>
     <a href="#" title="Twitter">
       <%= image_tag(image_url('social/f0101/twitter.png'), alt:'Twitter') %>
     </a>
   </li>
  </ul>

 </div> <!-- End Container -->
</div> <!-- End Footer -->
