<header id="header" class="clearfix">

 <!-- Logo -->
 <div class="logo pull-left">
   <%= image_tag(image_url('logo_skull.jpg'), height: 60, width: 120, alt: 'Logo') %>
 </div>

 <!-- Ads -->
 <div class="ads pull-right">
   <%= image_tag(image_url('ads/480x80.png'), alt:'Ads') %>
 </div>

</header> <!-- End Header -->
