<section class="camera_wrap camera_white_skin" id="slide">
    <!-- Item Slide - Caption -->
    <div  data-src="slide/slides/1.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
             <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="animated fadeInRight">
                            Gopro On Board
                        </h1>
                        <p class="animated fadeInRight delay1">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="more animated fadeInRight delay2">
                            <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->

    <!-- Item Slide - Caption -->
    <div  data-src="slide/slides/2.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
             <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="animated fadeInRight">
                             Dominique Daniels Returns
                        </h1>
                        <p class="animated fadeInRight delay1">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="more animated fadeInRight delay2">
                            <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->

    <!-- Item Slide - Caption -->
    <div  data-src="slide/slides/3.jpg">
        <div class="style-caption fadeFromTop">
            <div class="overlay-bg"></div>
             <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="animated fadeInRight">
                            Spiranovic Wanderers deal
                        </h1>
                        <p class="animated fadeInRight delay1">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="more animated fadeInRight delay2">
                            <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
</section>
