<div id="customize">
 <h5>Options</h5>
 <div class="wrapper">
  <div class="colors">
   <h6>Colors</h6>
   <a href="#" class="orange" title="Orange" style="background-color:#f15620;"></a>
   <a href="#" class="blue" title="Blue" style="background-color:#1d96e2;"></a>
   <a href="#" class="green" title="Green" style="background-color:#45b519;"></a>
  </div>
 </div>
</div>
